.btn {
  border-radius: 0;
  background: #333;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  &:hover {
    background: #000;
  }
}
