@import '../../bower_components/normalize-css/normalize';

@import 'https://fonts.googleapis.com/css?family=Playfair+Display';

// @import 'variables';
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "../../bower_components/basscss-sass/scss/basscss.scss";
// @import "../../bower_components/basscss-sass/scss/_margin.scss";
// @import "../../bower_components/basscss-sass/scss/_flexbox.scss";

// Base
@import "base/**/*.scss";

body {
  background-color: #F7F7F7;
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
}

h1,h2 {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.mt-auto {
  margin-top: auto
}

.mb-auto {
  margin-bottom: auto
}

.app-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  // background: #fff;
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
}

.option-btn {
  padding: 15px 20px;
  background: #fff;
  color: #333;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  font-size: 20px;
  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
    border-color: #ddd;
  }
}

.actions {
  // background: green;
  .btn {
    flex: auto;
  }
}

.result {
  background: #fff;
  border: 1px solid #ddd;
}

.result-title {
  font-size: 18px;
  padding: 10px;
}